* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
nav {
  padding: 10px;
  a {
    padding: 10px 20px;
  }
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.flex-end {
  display: flex;
  justify-content: end;
}

.sub-menu {
  background-color: #1bbd36;
  padding: 20px 10px;
  display: flex;
  justify-content: center;

  a:not(:last-child):after {
    content: "/";
    margin: 0 20px;
    color: white;
  }
}
